<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vanapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/titulo_login"></activity>
        <activity android:name=".Activities.MainSplashActivity" />
        <activity
            android:name=".Activities.MenuInicialActivity"
            android:label="@string/titulo_menu_principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Usuarios.UsuariosActivity"
            android:label="@string/titulo_usuarios"
            android:parentActivityName=".Activities.MenuInicialActivity" />
        <activity
            android:name=".Activities.Usuarios.UsuarioDetalleActivity"
            android:label="@string/titulo_usuario_detalle"
            android:parentActivityName=".Activities.Usuarios.UsuariosActivity" />
        <activity
            android:name=".Activities.Coches.CochesActivity"
            android:label="@string/titulo_coches"
            android:parentActivityName=".Activities.MenuInicialActivity" />
        <activity
            android:name=".Activities.Coches.CocheDetalleActivity"
            android:label="@string/titulo_coche_detalle"
            android:parentActivityName=".Activities.Coches.CochesActivity" />
        <activity
            android:name=".Activities.Common.UsuariosCochesActivity"
            android:label="@string/titulo_usuarios_coches"
            android:parentActivityName=".Activities.Coches.CochesActivity" />
        <activity
            android:name=".Activities.Rondas.RondasCocheActivity"
            android:label="@string/titulo_rondas_coche"
            android:parentActivityName=".Activities.Coches.CochesActivity" />
        <activity
            android:name=".Activities.Rondas.RondaCocheDetalleActivity"
            android:label="@string/titulo_ronda_coche_detalle"
            android:parentActivityName=".Activities.Coches.CochesActivity" />
        <activity
            android:name=".Activities.Calendario.CalendarioRondaElegirActivity"
            android:label="@string/titulo_elige_ronda"
            android:parentActivityName=".Activities.MenuInicialActivity" />
        <activity
            android:name=".Activities.Calendario.CalendarioRondaDetalleActivity"
            android:label="@string/titulo_ronda_calendario"
            android:parentActivityName=".Activities.Calendario.CalendarioRondaElegirActivity" />
        <activity
            android:name=".Activities.Informes.InformesMenuActivity"
            android:label="@string/titulo_informes"
            android:parentActivityName=".Activities.MenuInicialActivity" />
        <activity
            android:name=".Activities.Informes.InformeConduccionesActivity"
            android:label="@string/titulo_informe_total_conducciones"
            android:parentActivityName=".Activities.Informes.InformesMenuActivity" />
        <activity android:name=".Activities.QuienesSomosActivity"
            android:label="@string/titulo_acerca_de"
            android:parentActivityName=".Activities.MenuInicialActivity" />
    </application>

</manifest>