<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vanapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PresentationLayerRondas.RondasCocheActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/titulo_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainSplashActivity" />
        <activity
            android:name=".MenuInicialActivity"
            android:label="@string/titulo_menu_principal"></activity>
        <activity
            android:name=".PresentationLayerUsuarios.UsuariosActivity"
            android:label="@string/titulo_usuarios"
            android:parentActivityName=".MenuInicialActivity" />
        <activity
            android:name=".PresentationLayerUsuarios.UsuarioDetalleActivity"
            android:label="@string/titulo_usuario_detalle"
            android:parentActivityName=".PresentationLayerUsuarios.UsuariosActivity" />
        <activity
            android:name=".PresentationLayerCoches.CochesActivity"
            android:label="@string/titulo_coches"
            android:parentActivityName=".MenuInicialActivity" />
        <activity
            android:name=".PresentationLayerCoches.CocheDetalleActivity"
            android:label="@string/titulo_coche_detalle"
            android:parentActivityName=".PresentationLayerCoches.CochesActivity" />
        <activity
            android:name=".PresentationLayerCommon.UsuariosCochesActivity"
            android:label="@string/titulo_usuarios_coches"
            android:parentActivityName=".PresentationLayerCoches.CochesActivity" />
    </application>

</manifest>